/4 - Minor Project/venv/
/6 - Recurrent Neural Network/Sentiment Analysis/venv/
/6 - Recurrent Neural Network/Emoji Prediction/venv/
/7 - Major Project/Image-Captioning Project/Preprocessing/features.pkl/