/4 - Minor Project/venv/
/6 - Recurrent Neural Network/Sentiment Analysis/venv/
/6 - Recurrent Neural Network/Emoji Prediction/venv/
/7 - Major Project/Image-Captioning Project/Preprocessing/features.pkl
/7 - Major Project/Image-Captioning Project/Model Building/model.h5
/7 - Major Project/Image-Captioning Project/venv/